/* start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-green: #006400;
  --light-green: #20b2aa;
  --light-grey: #f2f2f2;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("image/Web.png");
  background-size: cover;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End Global Rules */

/* start header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-grey);
  opacity: 80%;
  box-shadow: 0px 0px 17px 10px rgba(0, 0, 0, 30%);
}

.header .logo {
  width: 90px;
  padding: 5px;
}

.flex-links {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 15px;
  white-space: nowrap;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.flex-icons {
  display: flex;
  align-items: center;
  position: relative;
}

.flex-icons i {
  margin: 0px 20px;
  font-size: 20px;
}

.user-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #333;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
}

.user-menu::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--light-green) transparent;
  position: absolute;
  right: 18px;
  top: -20px;
}

.flex-icons:hover .user-menu,
.user-menu:hover {
  display: block;
}

.user-menu li {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ddd;
  transition: 0.3s;
}

.user-menu a {
  color: #ddd;
}

.user-menu li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/* end header */

/* start welcome */
.welcome {
  text-align: center;
  margin: 100px;
}

.detail-box h1 {
  font-size: 48px;
}

.detail-box p {
  margin-top: 35px;
}

.detail-box a {
  display: inline-block;
  padding: 10px 55px;
  background: var(--light-green);
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 0px 20px 0 20px;
  margin-top: 35px;
  text-decoration: none;
}

.detail-box a:hover {
  background: var(--dark-green);
  color: #ffffff;
}

/* start what we do */
.intro-text h2 {
  text-align: center;
  font-size: 35px;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}
@media (max-width: 1440px) {
  .features .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 714px) {
  .features .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.features .feat {
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2b8;
  border-radius: 40px;
}

.features .feat i {
  font-size: 50px;
  color: var(--light-green);
  padding: 20px;
}

.features .feat h3 {
  font-weight: 800;
  margin: 50px 0;
  color: #777;
}

.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 16px;
}

/* start claim */
.claim .container {
  max-width: 400px;
  width: 100%;
  background-color: #ededed;
  padding: 30px;
  border-radius: 30px;
  margin-top: 10vh;
}

.img-area {
  position: relative;
  width: 100%;
  height: 240px;
  background-color: rgb(209, 207, 207);
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-area i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.img-area h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
  z-index: 2;
}

.img-area p {
  color: #999;
  z-index: 2;
}

.img-area p span {
  font-weight: 600;
  z-index: 2;
}

.select-image {
  display: block;
  width: 100%;
  padding: 16px 0;
  border-radius: 15px;
  background: var(--light-green);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
}

.select-image:hover {
  background: var(--dark-green);
}

.submit {
  display: block;
  width: 100%;
  padding: 16px 0;
  border-radius: 15px;
  background: var(--light-green);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.submit:hover {
  background: var(--dark-green);
}
/* end claim */

/* start confirmation */
.confirmation {
  display: flex;
}

.image-container {
  width: 50%;
  text-align: center;
  position: relative;
  margin: 25px;
}

.image {
  position: relative;
  width: 90%;
  height: 75vh;
  background: var(--light-grey);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details-container {
  width: 50%;
  margin: 25px;
}

.details {
  margin: 10px;
}

.details h6 {
  padding-bottom: 20px;
}

.details-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.details-label {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 15px;
}

.details-input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 65%;
  height: 45px;
  background: var(--light-grey);
  color: var(--dark-green);
}

.buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 40px;
}

.button-process,
.button-upload {
  width: 30%;
  margin-right: 35px;
  padding: 15px 0;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  background: var(--light-green);
  color: #fff;
}

.button-process:hover,
.button-upload:hover {
  background: var(--dark-green);
}

/* end confirmation*/

/* start login*/
.login .container {
  max-width: 400px;
  padding: 30px;
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  line-height: 1em;
}
.login .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login .container .title i {
  font-size: 5em;
  color: var(--light-green);
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.login .container h1 {
  font-size: 2em;
  color: #777;
  text-align: center;
  margin: 3vh 0;
}

.text-input {
  background: #e6e6e6;
  height: 50px;
  display: flex;
  width: 70%;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
  margin: 5px;
}

.text-input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  font-size: 100%;
}

::placeholder {
  color: #9a9a9a;
  font-size: 80%;
}

.login-btn {
  width: 68%;
  padding: 10px;
  color: white;
  background: var(--light-green);
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
}

.login-btn:hover {
  background: var(--dark-green);
}

.forgot a {
  margin-top: 10px;
  line-height: 5px;
  font-size: 14px;
  color: #9a9a9a;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.create a {
  margin-top: 10px;
  line-height: 50px;
  font-size: 14px;
  color: #9a9a9a;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.create i {
  color: #9a9a9a;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 50% 50%;
    grid-template-areas: "design login";
  }

  .design {
    display: block;
  }
}
/* end login */

/* registration */
.name-input {
  background: #e6e6e6;
  height: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
  margin: 5px;
}

.name-input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  font-size: 100%;
}
.name-input i {
  font-size: 100%;
  color: darkgray;
}
.back {
  margin: 10px;
}

.back a {
  text-decoration: none;
  color: #777;
}

.registration .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.registration .container h1 {
  font-size: 2em;
  color: #777;
  text-align: center;
  line-height: 0%;
}
.registration .container p {
  font-size: 1em;
  color: #777;
  text-align: center;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 490px;
  align-items: center;
  margin: auto;
}
.register-btn {
  width: 68%;
  padding: 10px;
  color: white;
  background: var(--light-green);
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
}

.register-btn:hover {
  background: var(--dark-green);
}

/* end registration */
