<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/upload.css" />
    <title>Input Image With Preview Image</title>
  </head>
  <body>
    <nav>
      <h1>Emely Tan</h1>
      <img class="logo-picture" src="../static/logo2.png" alt="Company Logo" />
    </nav>
    <div class="container">
      <h1>Upload an Image</h1>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imageInput">Select an image:</label>
          <input
            type="file"
            id="imageInput"
            name="image"
            accept="image/*"
            required
          />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
