<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LightXpense Login Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <div class="design">
        <div class="image">
          <img src="../static/logo.png" alt="logo" class="logo" />
        </div>
        <div class="pill-1 rotate-45"></div>
        <div class="pill-2 rotate-45"></div>
        <div class="pill-3 rotate-45"></div>
        <div class="pill-4 rotate-45"></div>
      </div>
      <form
        action="/login"
        method="POST"
        class="login"
        onsubmit="return validateForm()"
      >
        <h3 class="title">User Login</h3>
        <div class="text-input">
          <i class="ri-user-fill"></i>
          <input type="text" name="username" placeholder="Username" />
        </div>
        <div class="text-input">
          <i class="ri-lock-fill"></i>
          <input type="password" name="password" placeholder="Password" />
        </div>
        <button class="login-btn" type="submit">LOGIN</button>
        <a href="#" class="forgot">Forgot Username/Password?</a>
        <div class="create">
          <a href="#">Create Your Account</a>
          <i class="ri-arrow-right-fill"></i>
        </div>
      </form>
    </div>

    <script>
      function validateForm() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        if (username === "" || password === "") {
          // Display a user-friendly popup (you can use your own library or JavaScript framework)
          alert("Username and Password cannot be empty.");
          return false; // Prevent form submission
        }
      }
    </script>
  </body>
</html>
